In [1]:
a=10

In [2]:
a

10

In [3]:
a='c'

In [4]:
a

'c'

In [5]:
type(a)

str

In [6]:
int('123')

123

In [9]:
age=25
print("My age is:",age)

My age is: 25

In [10]:
## f string
print(f"My age is:{age}")

My age is:25

In [12]:
## format()
name="Rishi"
age=25
print("My name is {} and age is {}".format(name,age))

My name is Rishi and age is 25

In [14]:
## placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Rishi and age is 25

In [4]:
name="Rushikesh Lende"
age=25
degree="BCA"

"My name is 25 and i have completed: my degree of BCA with the name of Rushikesh Lende"

print(f"My name is {age} and i have completed: my degree of {degree} with the name of {name}")

My name is 25 and i have completed: my degree of BCA with the name of Rushikesh Lende

In [5]:
print("My name is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My name is 25 and i have completed: my degree of BCA with the name of Rushikesh Lende

## Control flow

## 4.1 Decision Making Statement
   * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [11]:
## if statements
age=18
if age>=18:
    print("You are eligible for vote")

You are eligible for vote

In [1]:
##Task
## Take a input of age 
## Check whether age >=18 and age <=32
## display a message you are young blood

age=int(input("Enter the age"))
if age >=18 and age <=32:
    print("You are a young blood")

Enter the age 25

You are a young blood

In [4]:
## if else statements
age=int(input("Enter the age"))
if age >=18 and age <=32:
    print("You are a young blood")
else:
    print("Thank you we will let you know")

Enter the age 55

Thank you we will let you know

In [9]:
## mall - input the product price 
## product >1000 rs 20% off 
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

product_price=int(input("Enter the price"))
if product_price >1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 5000

The price of the product is 4000.0

In [10]:
int((20/100)*5000)

1000

In [17]:
## mall - input the product price 
## product >3000 rs 20% off 
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## product <=1000 rs and <=2000 40% off
## print the product price after removing the discount

product_price=int(input("Enter the price"))
if product_price >3000:
    print("The price of the product is {}".format(product_price*0.8))
elif product_price >=2000 and product_price<=3000:
    print("The price of the product is {}".format(product_price*0.7))
else:
    print("The price of the product is {}".format(product_price*0.6))

Enter the price 1500

The price of the product is 900.0

In [19]:
(40/100)*1500

600.0

In [20]:
product_price=int(input("Enter the price"))
if product_price >3000:
    print(f"The price of the product is {product_price*0.8}")
elif product_price >=2000 and product_price<=3000:
    print(f"The price of the product is {product_price*0.7}")
else:
    print(f"The price of the product is {product_price*0.6}")

Enter the price 2000

The price of the product is 1400.0

In [11]:
## mall - input the product price 
## product >3000 rs 20% off 
## price is ==4000 you get atrip o Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999 u will get additional gift
## product >=100 rs and <=2000 40% off
## print the product price after removing the discount

product_price=int(input("Enter the price"))
if product_price >3000:
    if product_price ==4000:
        print("You get a trip to goa")
    print("The price of the product is {}".format(product_price*0.8))
elif product_price >=2000 and product_price<=3000:
    if product_price ==2999:
        print("congratulations you get an additional gift")
    print("The price of the product is {}".format(product_price*0.7))
elif product_price >=100 and product_price <2000:
    print("The price of the product is {}".format(product_price*0.6))
else:
    print("Lets drink tea")

Enter the price 4000

You get a trip to goa
The price of the product is 3200.0

In [6]:
#comparison operater
True==True

True

In [14]:
## Single statement Suites
val=int(input("Enter the number"))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 1000

Go Home

In [ ]:
## Loops statements
1. while loop
2. for loop
3. nested loop
4. Loop control(break,continue,pass)

In [18]:
## while loop, while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [22]:
### Atm machine with 1000 rs

total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## for loop

In [29]:
lst=["Rishi",1,2,3,"apple","banana"]

In [30]:
type(lst)

list

In [31]:
lst[4]

'apple'

In [32]:
for x in lst:
    print(x)

Rishi
1
2
3
apple
banana

In [37]:
fruit_list=["Mango","cherry","apple","banana"]
for a in fruit_list:
    print(a)

Mango
cherry
apple
banana

In [38]:
fruit_list=["Mango","cherry","apple","banana"]
for a in fruit_list:
    print(a)
    if a=="cherry":
        print("The fruit is cherry")

Mango
cherry
The fruit is cherry
apple
banana

In [39]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [40]:
fruit[2]

'n'

In [51]:
### Range

for i in range(1,6):
    print(i)

1
2
3
4
5

In [53]:
for i in range(1,6,2):
    print(i)

1
3
5

In [55]:
## Nested loop

n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
## Loop controls
## Break,Pass and continue
fruit_list=["Mango","cherry","apple","banana"]

In [68]:
##break
for i in fruit_list:
    if i=="apple":
        print("The fruit is apple")
        break
    print(i)

Mango
cherry
The fruit is apple

In [69]:
## pass
for i in fruit_list:
    if i=="apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
cherry
The fruit is apple
apple
banana

In [70]:
## continue
for i in fruit_list:
    if i=="apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
cherry
The fruit is apple
banana